.news-7yZ {
  box-sizing: border-box;
  padding-bottom: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.news-7yZ .heading-TXd {
  margin: 0rem 0.5rem 5.1rem 0rem;
  box-sizing: border-box;
  padding: 8.6rem 9.3rem 6.3rem 23.1rem;
  width: calc(100% - 0.5rem);
  height: 18.5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #f0ecf9;
  flex-shrink: 0;
}
.news-7yZ .heading-TXd .covid-N8o {
  margin: 0rem 44.2rem 0.4rem 0rem;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.news-7yZ .heading-TXd .frame-1-VDR {
  margin-top: 1.7rem;
  display: flex;
  column-gap: 5.5rem;
  align-items: center;
  flex-shrink: 0;
}
.news-7yZ .heading-TXd .frame-1-VDR .home-daX {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.news-7yZ .heading-TXd .frame-1-VDR .about-Bc3 {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.news-7yZ .heading-TXd .frame-1-VDR .contact-vZd {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.news-7yZ .heading-TXd .frame-1-VDR .symptoms-f1R {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.news-7yZ .heading-TXd .frame-1-VDR .center-CX9 {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.news-7yZ .heading-TXd .frame-1-VDR .news-kYf {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.news-7yZ .news-sNP {
  margin: 0rem 27.8rem 32.1rem 20.5rem;
  width: calc(100% - 48.3rem);
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.news-7yZ .news-sNP .columns-1Dh {
  width: 100%;
  height: 13rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.news-7yZ .news-sNP .columns-1Dh .auto-group-rzwt-xPq {
  margin-right: 2.6926rem;
  width: 11.2192rem;
  height: 3.2rem;
  font-size: 1.6rem;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6f42c1;
  flex-shrink: 0;
}
.news-7yZ .news-sNP .columns-1Dh .auto-group-gkvd-3AP {
  margin-right: 1.2341rem;
  width: 66.1934rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.news-7yZ .news-sNP .columns-1Dh .auto-group-gkvd-3AP .center-ag7 {
  margin: 0rem 7.677rem 7.3rem 0rem;
  font-size: 2rem;
  line-height: 1.2125;
  color: #6f42c1;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.news-7yZ .news-sNP .columns-1Dh .auto-group-gkvd-3AP .auto-group-qh6m-uiP {
  box-sizing: border-box;
  padding: 0.7rem 3.254rem 0.5rem 3.254rem;
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #6f42c1;
  flex-shrink: 0;
}
.news-7yZ .news-sNP .columns-1Dh .auto-group-ve21-zUw {
  width: 14.3606rem;
  height: 3.2rem;
  font-size: 1.6rem;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6f42c1;
  flex-shrink: 0;
}
.news-7yZ .news-sNP .auto-group-e8bf-tKR {
  box-sizing: border-box;
  padding: 3.1rem 0.6rem 0rem 0.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.news-7yZ .news-sNP .auto-group-e8bf-tKR .values-pTy {
  margin-bottom: 3.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.news-7yZ .news-sNP .auto-group-e8bf-tKR .values-pTy .item-1-Anj {
  margin-right: 11rem;
  font-size: 1.6rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.news-7yZ .news-sNP .auto-group-e8bf-tKR .values-pTy .india-logs-798-new-covid-infections-5-deaths-145-sub-variant-cases-so-far-Jtw {
  margin-right: 14.7rem;
  max-width: 54.2rem;
  font-size: 1.6rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.news-7yZ .news-sNP .auto-group-e8bf-tKR .values-pTy .link-UB9 {
  font-size: 1.6rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.news-7yZ .news-sNP .auto-group-e8bf-tKR .values-nhd {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.news-7yZ .news-sNP .auto-group-e8bf-tKR .values-nhd .item-2-8Fh {
  margin: 0.6rem 10.5rem 0rem 0rem;
  font-size: 1.6rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.news-7yZ .news-sNP .auto-group-e8bf-tKR .values-nhd .inhaler-foracort-tops-pharma-market-sales-in-january-riding-on-post-covid-air-pollution-concerns-osd {
  margin-right: 17rem;
  max-width: 52.2rem;
  font-size: 1.6rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.news-7yZ .news-sNP .auto-group-e8bf-tKR .values-nhd .link-VVZ {
  font-size: 1.6rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
