.mask-group-Aoq {
  width: 100%;
  height: 102.4rem;
}
.mask-group-Aoq .contact-iqM {
  box-sizing: border-box;
  padding-bottom: 2rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.mask-group-Aoq .contact-iqM .heading-FKV {
  margin: 0rem 0.5rem 2.4rem 0rem;
  box-sizing: border-box;
  padding: 8.6rem 9.3rem 6.3rem 23.1rem;
  width: calc(100% - 0.5rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #f0ecf9;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .heading-FKV .covid-Z5H {
  margin: 0rem 44.2rem 0.4rem 0rem;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .heading-FKV .frame-1-GVV {
  margin-top: 1.7rem;
  display: flex;
  column-gap: 5.5rem;
  align-items: center;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .heading-FKV .frame-1-GVV .home-p1D {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .heading-FKV .frame-1-GVV .about-AKy {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .heading-FKV .frame-1-GVV .contact-i6b {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .heading-FKV .frame-1-GVV .symptoms-4AT {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .heading-FKV .frame-1-GVV .center-CXZ {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .heading-FKV .frame-1-GVV .news-Y5d {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .contact-us-3o5 {
  margin: 0rem 31.7rem 4.9rem 22.3rem;
  width: calc(100% - 54rem);
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .contact-us-3o5 .auto-group-svpz-yRq {
  box-sizing: border-box;
  padding: 0rem 0rem 4.6rem 0.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .contact-us-3o5 .auto-group-svpz-yRq .contact-us-Vf5 {
  margin: 0rem 0rem 6.7rem 8.2rem;
  font-size: 2rem;
  line-height: 1.2125;
  color: #6f42c1;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .contact-us-3o5 .auto-group-svpz-yRq .auto-group-jcbf-1tK {
  margin-bottom: 3.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .contact-us-3o5 .auto-group-svpz-yRq .auto-group-jcbf-1tK .frist-name--ND5 {
  margin: 0rem 16.8rem 1.1rem 0rem;
  font-size: 2rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .contact-us-3o5 .auto-group-svpz-yRq .auto-group-jcbf-1tK .rectangle-2-gUf {
  width: 62rem;
  height: 4.8rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .contact-us-3o5 .auto-group-svpz-yRq .auto-group-axzd-oZH {
  margin-bottom: 2.8rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .contact-us-3o5 .auto-group-svpz-yRq .auto-group-axzd-oZH .last-name--kUX {
  margin-right: 17rem;
  font-size: 2rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .contact-us-3o5 .auto-group-svpz-yRq .auto-group-axzd-oZH .rectangle-3-gsy {
  width: 62rem;
  height: 4.8rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .contact-us-3o5 .auto-group-svpz-yRq .auto-group-9g6r-Dsu {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .contact-us-3o5 .auto-group-svpz-yRq .auto-group-9g6r-Dsu .email-id--z7y {
  margin-right: 19.8rem;
  font-size: 2rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .contact-us-3o5 .auto-group-svpz-yRq .auto-group-9g6r-Dsu .rectangle-4-jLT {
  margin-top: 1.1rem;
  width: 62rem;
  height: 4.8rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .contact-us-3o5 .auto-group-e2ah-qPV {
  margin-bottom: 2.8rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .contact-us-3o5 .auto-group-e2ah-qPV .suggestion--By9 {
  margin-right: 16.7rem;
  font-size: 2rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .contact-us-3o5 .auto-group-e2ah-qPV .rectangle-5-jDy {
  width: 62rem;
  height: 10.8rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.mask-group-Aoq .contact-iqM .contact-us-3o5 .auto-group-zzad-ebq {
  margin: 0rem 27.3rem 0rem 41rem;
  width: calc(100% - 68.3rem);
  height: 7.4rem;
  font-size: 2.2rem;
  line-height: 1.2125;
  border-radius: 50px;
  background-color: #6f42c1;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1.png');
  flex-shrink: 0;
}
